.auth-container {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  border: 1px dashed var(--color-light-grey);
  text-align: center;
}
.auth-form h2 {
  margin-bottom: 3rem;
  color: var(--color-light-blue);
}
.error-message {
  margin-bottom: 1.5rem;
  color: var(--color-light-red);
  text-transform: capitalize;
}
.auth-form input {
  display: block;
  background-color: var(--color-dark-blue);
  width: 100%;
  padding: 2rem;
  margin: 0 0 2.5rem;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border-radius: 3px;
  border: 1px solid var(--color-light-grey);
}
